<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site:id" content="1524709850">
    <meta name="twitter:creator:id" content="64360611">
    <meta name="twitter:description" content="Hydra simplifies the development of interoperable, hypermedia-driven Web APIs">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:400,700">
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://www.hydra-cg.com/css/styles.css">
    <link rel="stylesheet" href="https://www.hydra-cg.com/css/minute-styles.css">
    <!--<![endif]-->
    <style>
        .anchor {
            display: block;
            position: relative;
            top: -93px;
            visibility: hidden;
            padding: unset;
            margin: unset;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <span class="pure-menu-heading"><a href="/"><img src="https://www.hydra-cg.com/img/logo.svg" alt="Hydra"></a></span>
        <ul>
            <li><a href="http://www.hydra-cg.com/#specifications">Specifications</a></li>
            <li><a href="http://www.hydra-cg.com/#community">Community</a></li>
            <li><a href="http://www.hydra-cg.com/#tooling">Tooling</a></li>
            <li><a href="http://www.hydra-cg.com/minutes/">Minutes</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="pure-g">
        <div class="l-box pure-u-1">
            {{ content }}
        </div>
    </div>
</div>
</body>
</html>
